
nsu_starterpack/nsu_starterpack/nsu_starterpack.vcxproj.user
nsu_starterpack/nsu_starterpack/nsu_starterpack.vcxproj.filters
nsu_starterpack/nsu_starterpack/nsu_starterpack.vcxproj
nsu_starterpack/nsu_starterpack.sln
nsu_starterpack/.vs/nsu_starterpack/v15/Browse.VC.opendb
nsu_starterpack/.vs/nsu_starterpack/v15/Browse.VC.db
